<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href=" {{ url_for('static', filename='images/logo/favicon/Logodark.svg') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/base.css') }} ">
    <title>{{ title | safe }}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="main-grid">

      <div id="top-bar">
        <div id="left">
          <img id="logo"
            src=" {{ url_for('static', filename='images/logo/logoredandtext.svg') }} "
            alt="Logo, Blu W. Opland"
            />
          
          
          <h1 id="page-title">
            {{ title | safe }}
          </h1>
          
          
        </div>
        <div id="right">
          <div id="search">
            Søk
            <!--<input type="search" name="q" id="main" placeholder="Search...">-->
          </div>

          <div id="menu">
            Meny
            
          </div>

          <div id="profile">
            Profil
          </div>
        </div>

      </div>

      <div id="side-menu">
        {{ side_menu_content | safe}}
      </div>

      <main>
        {% block main %}
        {% endblock %}
      </main>

      <div id="address">
        Blu William Opland
      </div>
      
    </div>

    {% block scripts %}
    {% endblock %}

    </body>
</html>
