<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/common.css') }} ">
    <title>{{ title | safe }}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="main-grid">

      <div id="top-bar">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo/img/panorama-sky.jpg') }}" alt="Logo"></a>
        <h1>{{ title | safe }}</h1>
        <a href="../Projects/Nyheter/artikkelOversikt.html"></a>
        
      </div>

      <div id="side-menu">
        {{ side_menu_content | safe}}
      </div>

      <main>
        {% block main %}
        {% endblock %}
      </main>

      <div id="address">
        Blu William Opland
      </div>
      
    </div>

    {% block scripts %}
    {% endblock %}

    </body>
</html>
