/*  Fallback and standard styles for all HTML docs.
    All .css files must include " @import url('common.css'); "
*/

/* Structure */
html {
    background-color: rgb(33, 34, 35);
    color:rgb(233, 226, 217);
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    margin: auto 15%;
    overflow-x: hidden;
}


/* Images */
img {
    max-width:100%;
}


/* Lists */
ul, ol {
    width: 50%;
    min-width: 150px;
}

li {
    background-color: rgba(8, 243, 165, 0.742);
    margin: 2px;
    padding: 2px;
    border-radius: 2px;
}


/* Links */
a {
  color: rgb(79, 65, 2);
  text-shadow: 0.5px 0.2px black;
}

a:link {
  color: rgb(214, 4, 4);
  text-decoration: none;
}

a:visited {
  color: rgb(170, 14, 14);
  text-decoration: none;
}

a:hover {
  color: rgb(167, 10, 10);
  text-decoration: underline;
}

a:active {
  color: rgb(96, 6, 6, 0.4);
  text-decoration: underline dashed;
}




/* Tables */
td > img {
  display: block;
  max-block-size: 100px;
  margin: auto auto;
}


/* Main Table Element*/
table {
  border-collapse: separate;
  margin: 10px;
  border-width: 1px 1px 0.8px 0.8px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.4) rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8);
}


/* Table-head and Table-Data */
  /* Shared Styles */
th, td {
  border-width: 0.8px 0.8px 1px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8) rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.4);  
  padding: 4px 7px;
}

  /* Separate Styles */
th {
  background-color: rgba(0, 0, 0, 0.2);
}

td {
  background-color: rgba(0, 0, 0, 0.05);
}



/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 50px; /* Height of the horizontal scrollbar */
  margin: 2px;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Color of the thumb (the draggable part) */
  border-radius: 20px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track (the background of the scrollbar) */
}
