@import 'common.css';



.gallery {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(3, 500px);
    gap: 0.3cm;
}

.portrait {
    display: grid;
    grid-template-rows:2cm calc(100% - 3cm - 2cm) 3cm;


    border: 2px solid black;
    border-radius: 10px;
    background-image: url("../images/JonasGahrStore.jpg");
}


.portrait > h2 {
    text-align: center;
    background-color: azure;
}

.portrait > p {
background-color: aliceblue;
   grid-area: auto;
}