@import "common.css";


body {
  display: grid;
}



main {
  display: flex;
  flex-flow: column wrap;
  margin-left: calc(25% + 10px);
  height: fit-content;
}

@media (min-width: calc(200px / (25 / 100))) {
  main {
    margin-left: 210px;
  }
}

main > *,
main > * {
  display: flex;
  flex-flow: row wrap;
  background-color: transparent;
}

main > * > p,
main > * > p {
  background-color: rgba(58, 58, 58, 0.4);
  flex: 1;
  
  margin: 10px;
  padding: 3px 5px;
}

main > * > img,
main > * > img {
  display: block;
  background-color: rgba(58, 58, 58, 0.4);
  flex-basis: auto;
  
  max-width: 30%;
  min-width: 3cm;
  margin: 10px;
  padding: 3px 5px;

}

main > * > img.right {
  margin-left: -4px;
}

main > * > img.left {
  margin-right: -4px;
}

