@import "common.css";
body {
  padding: 0;
  margin: 0px;
}

header {
  background-color: rgb(33, 34, 35);
  height: 1.5cm;
  width: 100vw;
  text-align: center;
  position: sticky;
  top: 0;
}

header h1 {
  margin: 0;
  font-size: auto;
}




main {
  display: flex;
  flex-flow: column nowrap;
  margin-left: calc(25% + 10px);
  height: fit-content;
}

@media (min-width: calc(200px / (25 / 100))) {
  main {
    margin-left: 210px;
  }
}
main > article,
main > section {
  display: flex;
  flex-flow: row wrap;
  background-color: transparent;
}

article p, section p {
  background-color: rgba(58, 58, 58, 0.4);
  flex: 1;
  
  margin: 10px;
  padding: 3px 5px;
}

article img, section img {
  display: block;
  background-color: rgba(58, 58, 58, 0.4);
  flex-basis: auto;
  
  max-width: 30%;
  min-width: 3cm;
  margin: 10px;
  padding: 3px 5px;

}

.img_right {
  margin-left: -4px;
}

.img_left {
  margin-right: -4px;
}
