{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feedback.css') }}">
    <title>Send Feedback</title>

    <script>
        function validateForm() {
            var checkboxes = document.getElementsByName("Dish");
            var isChecked = false;
            
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    isChecked = true;
                    break;
                }
            }
            
            if (!isChecked) {
                alert("Please select at least one dish.");
                return false;
            }
            
            return true;
        }
    </script>
{% endblock %}


{% block main %}
<h1>Hei, send meg en tilbakemelding her :&rpar;</h1>
    <form action="steps/step_2.html" onsubmit="return validateForm()" method="get">
        <div class="flex">
            <div id="cats">
                <h3 class="required">Hvor mange katter vil du ha?</h3>
                <input type="radio" name="Number of Cats" id="no_cat" value="0" required>
                <label for="no_cat">Ingen</label>
                <br>
                <input type="radio" name="Number of Cats" id="one_cat" value="1" required>
                <label for="one_cat">En</label>
                <br>
                <input type="radio" name="Number of Cats" id="two_cat" value="2" required>
                <label for="two_cat">To</label>
                <br>
                <input type="radio" name="Number of Cats" id="three_cat" value="3" required>
                <label for="three_cat">Tre</label>
                <br>
                <input type="radio" name="Number of Cats" id="four_more_cat" value="4+" required>
                <label for="four_more_cat">Fire eller flere</label>
                <br><br>
            </div>
            <div id="personal-info">
                <h3>Informasjon om deg</h3>
                <label for="name" class="required">Hva heter du? </label>
                <input type="text" name="First Name" id="name" placeholder="Fornavn" required>
                <input type="text" name="Last Name" id="name" placeholder="Etternavn" required>
                <br>
                <label for="b_date">Hva er fødselsdatoen din?</label>
                <input type="date" name="Birth Date" id="b_date">
                <br>
                <label for="email" class="required">E-postadressen din:</label>
                <input type="email" name="E-mail" id="email" placeholder="navnet.ditt@eksempel.no" required>
                <br>
                <label for="phone_num">Tlf.nummeret ditt:</label>
                <input type="number" name="Phone Number" id="phone_num" placeholder="+47 197 45 374">
                <br>
                <br>
            </div>
            <div style="width: 100%; margin: 0px"></div>
            <div id="food">
                <h3>Hvilken mat liker du?</h3>
                <input type="checkbox" name="Liked Foods" id="taco" value="Taco">
                <label for="taco">Taco</label>
                <br>
                <input type="checkbox" name="Liked Foods" id="pizza" value="Pizza">
                <label for="pizza">Pizza</label>
                <br>
                <input type="checkbox" name="Liked Foods" id="sushi" value="Sushi">
                <label for="sushi">Sushi</label>
                <br>
                <input type="checkbox" name="Liked Foods" id="hamburger" value="Hamburger">
                <label for="hamburger">Hamburger</label>
                <br>
                <input type="checkbox" name="Liked Foods" id="fisk" value="Fisk">
                <label for="fisk">Fisk</label>
                <br>
                <input type="checkbox" name="Liked Foods" id="ribbe" value="Ribbe">
                <label for="ribbe">Ribbe</label>
                <br>
                <br>
            </div>
            <div id="order">
                <h3>Bestill Bord</h3>
                <div class="centered-one-line">
                    <label for="guests-num" class="required"> Hvor mange gjester kommer?</label>
                    <div class="force-next-to-be">
                        <input type="range" name="Number of Guests" id="guests-num" value="invalid" min="1" max="9" oninput="this.nextElementSibling.innerHTML = this.value" required>
                        <output>?</output>
                    </div>
                </div>
                <div>
                    <label for="order-date order-time"> Til når vil du bestille bord?</label>
                    <input type="date" name="Order Date" id="order-date">
                    <input type="time" name="Order Time" id="order-time">
                </div>
                <div id="food">
                    <h3>Hvilke retter ønsker dere?</h3>
                    <input type="checkbox" name="Dish" id="amuse-bouche" value="Appetittvekker">
                    <label for="taco">Appetittvekker</label>
                    <br>
                    <input type="checkbox" name="Dish" id="appetizer" value="Forrett">
                    <label for="appetizer">Forrett</label>
                    <br>
                    <input type="checkbox" name="Dish" id="main-course" value="Hovedrett">
                    <label for="main-course">Hovedrett</label>
                    <br>
                    <input type="checkbox" name="Dish" id="side-dish" value="Side Dish">
                    <label for="side-dish">Siderett</label>
                    <br>
                    <input type="checkbox" name="Dish" id="dessert" value="Dessert">
                    <label for="dessert">Dessert</label>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div id="submit">
            <button type="submit">Send inn</button>
        </div>
    </form>

{% endblock %}