/*  Fallback and standard styles for all HTML docs.
    All .css files must include " @import url('common.css'); "
*/


$primary-background-color: rgb(33, 34, 35);
$primary-background-color-darker: adjust-color($color: $primary-background-color, $red: -1, $green: -2, $blue: -1);
$primary-background-color-lighter: adjust-color($color: $primary-background-color, $red: 10, $green: 10, $blue: 10);

$primary-color: rgb(226, 219, 212);
$secondary-color: blue;

$html-margin-sides: 2cm;





/* Structure */
html {
  background-color: $primary-background-color;
  color: $primary-color;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  padding: 0px;
  border-width: 0px;
}

body {
  margin: 0px $html-margin-sides;
  padding: 0px;
  overflow-x: hidden;
}





/* Globals */
/* Main Grid */
#main-grid {
  
  $top-bar-padding-top: 1cm;
  $top-bar-padding-bottom: 0.2cm;
  $top-bar-padding-sides: 10px;
  
  $top-bar-height: 1.5cm;
  $top-bar-height-total: calc($top-bar-height + $top-bar-padding-top + $top-bar-padding-bottom);

  $address-height: 50px;
  $address-height-total: 50px;
  
  
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-auto-rows: minmax(20px, auto);
  
  margin: 0px;
  padding: 0px;



  /* Global Top Bar */
  #top-bar {
    display: block;
    align-items: center;
    grid-column: 1 / -1;
    
    

    position: sticky;
    top: 0;
    
    padding: $top-bar-padding-top 10px $top-bar-padding-bottom;
    

    width: calc(100% - (2 * $top-bar-padding-sides));
    height: $top-bar-height;
    
    background-color: $primary-background-color;
    
    
  
    
    #left {
      display: flex;
      column-gap: 20px;

      float: left;
      
      #logo {
        display: block;
        order: 1;
        
        
        max-width: 10cm;
        
      }
      
      
      #page-title {
        display: block;
        order: 2;
        
        max-width: fit-content;

        margin: 0px;
        padding: 0px;
        
      }
    }
    
    #right {
      display: flex;
      flex-flow: row nowrap;

      
      
      float: right;


      #search {
        order: 1;

        input {
          padding: 6px;
          border: none;
          
          font-size: large;
          border-radius: 4px;

          &::placeholder,
          &::-webkit-input-placeholder,
          &:-moz-placeholder,
          &:-ms-input-placeholder {
            font-style: italic;
          }



          
        }
        
        img {
          display: block;
          height: 20px;
          
        }
        
      }
      
      
      #menu {
        display: block;
        order: 2;
       
      

      }
      
      
      #profile {
        display: block;
        order: 3;

        
      }
      
      #search,
      #menu,
      #profile {
        flex: 1;
        height: calc($top-bar-height - 5px);
        aspect-ratio: 1 / 1;
        
        border-radius: 4px;
        margin: 0px 5px;
        border: 2px solid $primary-background-color-lighter;
        background-color: $primary-background-color-darker;
      }
    }


  }
    
    
    
    /* Global Side Menu */
    #side-menu {
      grid-row: 2 / span 2;
      
      padding: 5px;
      border-radius: 5px;
      
      position: sticky;
      top: $top-bar-height-total;
      
      height: calc(100dvh - $top-bar-height - 10px - $address-height-total); /* View-height - top-bar - padding of self */
      min-width: 4cm;
      max-width: 200px;
      
      background-color: $primary-background-color-darker;
      
      nav {
        display: flex;
        flex-flow: column nowrap;
        overflow-y: auto;
        align-items: stretch;
      
      a {
        display: block;
        background-color: rgba(127, 164, 196, 0.8);
        padding: 4px;
        margin: 2px;
        border-radius: 3px;
      }
    }
  }
    






  /* Global Main */
  main {
    display: flex;
    flex-flow: column wrap;

    min-height: calc(100dvh - $top-bar-height-total); /* View-height - top-bar, address is always right under bottom line when scrolled up */
    
    
    * {
      margin-bottom: 2px;
      padding: 4px;
    }
    
    
    > * {
      display: flex;
      flex-flow: row wrap;
      background-color: $primary-background-color;
      
      > p {
        background-color: rgba(58, 58, 58, 0.4);
        flex: 1;
        
        margin: 10px;
        padding: 3px 5px;
      }
      
      > img {
        display: block;
        background-color: rgba(58, 58, 58, 0.4);
        flex-basis: auto;
        
        max-width: 30%;
        min-width: 3cm;
        margin: 10px;
        padding: 3px 5px;
        
        
        &.right {
          margin-left: -4px;
        }
        
        &.left {
          margin-right: -4px;
        }
      }
    }
  }
    
    
  /* Global Address */
  #address {
    bottom: 0px;
    padding: 4px;
    
    height: $address-height;
    min-height: 50px;
    
    background-color: rgba(54, 47, 38, 0.267);
  }


  
  
  /* Lists */
  ul,
  ol {
    list-style-type: none;
    width: 50%;
    min-width: 150px;
  }
  
  li {
    background-color: rgba(8, 243, 165, 0.742);
    margin: 2px;
    padding: 2px;
    border-radius: 2px;
  }

  


  /* Tables */

  /* Main Table Element*/
  table {
    border-collapse: separate;
    margin: 10px;
    border-width: 1px 1px 0.8px 0.8px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.4)
      rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8);
  }


  /* Table-head and Table-Data */
  /* Shared Styles */
  th,
  td {
    border-width: 0.8px 0.8px 1px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8) rgba(255, 255, 255, 0.4)
      rgba(255, 255, 255, 0.4);
    padding: 4px 7px;
  }

  /* Separate Styles */
  th {
    background-color: rgba(0, 0, 0, 0.2);
  }

  td {
    background-color: rgba(0, 0, 0, 0.05);

    img {
      display: block;
      min-block-size: 100px;
      margin: auto auto;
    }
  }
}

/* Links */
a {
  color: rgb(79, 65, 2);
  text-shadow: 0.5px 0.2px black;
}

a:link {
  color: rgb(214, 4, 4);
  text-decoration: none;
}

a:visited {
  color: rgb(170, 14, 14);
  text-decoration: none;
}

a:hover {
  color: rgb(167, 10, 10);
  text-decoration: underline;
}

a:active {
  color: rgb(96, 6, 6, 0.4);
  text-decoration: underline dashed;
}




/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 50px; /* Height of the horizontal scrollbar */
  padding: 40px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    74,
    62,
    62,
    0.4
  ); /* Color of the thumb (the draggable part) */
  border-radius: 20px; /* Rounded corners for the thumb */
  padding: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track (the background of the scrollbar) */
}
