/*  Fallback and standard styles for all HTML docs.
    All .css files must include " @import url('common.css'); "
*/

:root {
  --primary-background-color: rgb(33, 34, 35);
}



/* Structure */
html {
  background-color: var(--primary-background-color);
  color: rgb(226, 219, 212);
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;

  padding: 0px;
  border-width: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Globals */
/* Main Grid */
#main-grid {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-auto-rows: minmax(20px, auto);
  
  margin: 0px;
  padding: 0px;
}




/* Global Header */
#top-bar {
  display: flex;
  flex-flow: row nowrap;
  
  grid-column: 1 / -1;

  position: sticky;
  top: 0;

  width: 100%;
  height: 2cm;

  background-color: var(--primary-background-color);
}

#top-bar > h1 {
  margin: 0;
  font-size: 0.8cm;
  line-height: 2cm;
  text-align: center;
  align-self: center;
  justify-self: center;
}

#top-bar img {
  display: block;

  height: calc(2cm - 8px); /* total height - margin top/bottom */
  
  min-width: 5cm;
  max-width: 230px;

  margin: 4px;

  object-fit: cover;
  object-position: center center;
  border-radius: 6px;

}

/* Global Side Menu */
#side-menu {
  grid-row: 2 / span 2;
  
  padding: 5px;
  
  position: sticky;
  top: 2cm;
  
  height: calc(100dvh - 2cm - 10px); /* View-height - top-bar - padding of self */
  min-width: 5cm;
  max-width: 200px;
  
  background-color: var(--primary-background-color);
}

#side-menu > nav {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  align-items: stretch;
}

#side-menu > nav > a {
  display: block;
  background-color: rgba(127, 164, 196, 0.8);
  padding: 4px;
  margin: 2px;
  border-radius: 3px;
}


/* Global Main */
main {
  display: flex;
  flex-flow: column wrap;

  margin-right: 5%;

  min-height: calc(100dvh - 2cm); /* View-height - top-bar, address is always right under bottom line when scrolled up */
  
}

main * {
  margin-bottom: 2px;
  padding: 4px;
}


main > *,
main > * {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--primary-background-color);
}

main > * > p,
main > * > p {
  background-color: rgba(58, 58, 58, 0.4);
  flex: 1;
  
  margin: 10px;
  padding: 3px 5px;
}

main > * > img,
main > * > img {
  display: block;
  background-color: rgba(58, 58, 58, 0.4);
  flex-basis: auto;
  
  max-width: 30%;
  min-width: 3cm;
  margin: 10px;
  padding: 3px 5px;

}

main > * > img.right {
  margin-left: -4px;
}

main > * > img.left {
  margin-right: -4px;
}




/* Global Address */
#address {
  bottom: 0px;
  margin-right: 5%;
  padding: 4px;

  height: auto;
  min-height: 50px;
  
  background-color: rgba(54, 47, 38, 0.267);
}




/* Lists */
ul,
ol {
  width: 50%;
  min-width: 150px;
}

li {
  background-color: rgba(8, 243, 165, 0.742);
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
}

/* Links */
a {
  color: rgb(79, 65, 2);
  text-shadow: 0.5px 0.2px black;
}

a:link {
  color: rgb(214, 4, 4);
  text-decoration: none;
}

a:visited {
  color: rgb(170, 14, 14);
  text-decoration: none;
}

a:hover {
  color: rgb(167, 10, 10);
  text-decoration: underline;
}

a:active {
  color: rgb(96, 6, 6, 0.4);
  text-decoration: underline dashed;
}

/* Tables */

/* Main Table Element*/
table {
  border-collapse: separate;
  margin: 10px;
  border-width: 1px 1px 0.8px 0.8px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.4)
    rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8);
}


/* Table-head and Table-Data */
/* Shared Styles */
th,
td {
  border-width: 0.8px 0.8px 1px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8) rgba(255, 255, 255, 0.4)
    rgba(255, 255, 255, 0.4);
  padding: 4px 7px;
}

/* Separate Styles */
th {
  background-color: rgba(0, 0, 0, 0.2);
}

td {
  background-color: rgba(0, 0, 0, 0.05);
}

td > img {
  display: block;
  min-block-size: 100px;
  margin: auto auto;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 50px; /* Height of the horizontal scrollbar */
  padding: 40px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    74,
    62,
    62,
    0.4
  ); /* Color of the thumb (the draggable part) */
  border-radius: 20px; /* Rounded corners for the thumb */
  padding: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track (the background of the scrollbar) */
}
