@import "base";

main {
  form {
    .flex {
      display: block;
      flex-flow: row wrap;
      
      > div {
        margin: 20px;
      }
    }

    margin: 2px;
    padding: 10px 15px;
    
    border: 3px solid rgb(120, 120, 171);
    border-radius: 10px;
    
    width: 100%;
    
    box-sizing: border-box;
    
    
    h3 {
      margin: 0px 0px 3px -4px;
    }
    
    input {
      background-color: $primary-background-color-darker;
      border-color: $primary-background-color-lighter;
      border-radius: 4px;
      color: $primary-color;
      margin: 4px 3px;
      padding: 4px 2px;
      font-size: medium;
    }
    
    label {
      margin: 8px 3px;
    }
    
    #cats {
      flex: 1;
    }

    #personal-info {
      flex: 2;
    }

    #food {
      flex: 1;
    }


    #order {
      flex: 2;
      
      padding: 4px 8px;
      
      background-color: $primary-background-color-darker;
      border: 3px solid $primary-background-color-lighter;
      border-radius: 6px;
    }
    
    .required::after {
      content: " *";
      color: rgb(224, 3, 3);
    }
    
    .centered-one-line {
      display: flex;
      flex-flow: row wrap;
      
      align-items: center;
      
      label {
        display: inline;
        flex: 0 0 auto;
        margin-right: 10px;  
      }

      > div {
        display: block;
        height: 100%;
        flex: 1 1 auto;
      }

    }
    
    .force-next-to-be {
      display: block;
      width: fit-content;
    }
    
    #submit {
      text-align: center;
      
      button {
        color: $primary-color;
        background-color: $primary-background-color-lighter;
        border: 4px solid $primary-background-color-darker;
        border-radius: 8px;
        margin: 20px 0px;
        width: 80px;
        height: 35px;
      }
    }


    @media only screen and (min-width: 768px) {
      .flex {
        display: flex;
      }
    }

  }
}

// Auto Fill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $primary-color;
  transition: background-color 5000s ease-in-out 0s; // transition here does nothing in recent Chrome browsers, it's only a fallback solution for older versions of Chrome.
  box-shadow: inset 0 0 20px 20px $primary-background-color-darker;
}




