@import "base";

main {
  form {
    margin: 2px;
    padding: 5px 10px;

    border: 3px solid rgb(120, 120, 171);
    border-radius: 10px;

    width: max(50%, min(100%, 400px));

    box-sizing: border-box;
  }

  h3 {
    margin: 0px;
  }

  div.cats {
    margin-left: 10px
  }


  input {
    background-color: $primary-background-color-darker;
    border-color: $primary-background-color-lighter;
    border-radius: 4px;
    color: $primary-color;
    margin: 8px 3px;
  }

  label {
    margin: 8px 3px;
  }

  .required::after {
    content: " *";
    color: rgb(224, 3, 3);
  }


}
