$portrait-border-radius: 10px;

main {

    .school {
        background-color: rgba(208, 255, 0, 0.16);
    }
    
    .logistics {
        background-color: rgba(0, 102, 255, 0.16);
    }
    
    .sleep {
        background-color: rgba(140, 0, 255, 0.16);
    }
    
    .prepration {
        background-color: rgba(0, 255, 191, 0.16);
    }
    
    .lunch {
        background-color: rgba(255, 115, 0, 0.16);
    }
    
    .exercice {
        background-color: rgba(255, 0, 55, 0.16);
    }
    
    td, th {
        font-family: sans-serif;
        font-size: medium;
        font-weight: bold;
        line-height: 130%;
        text-shadow: black 1.5px 1px;
        
    }
}