
{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href=" {{ url_for('static', filename='css/grid.css') }} ">
{% endblock %}


{% block main %}
<div class="gallery">
  <div class="portrait">
    <h2> Mikal </h2>
    <div></div>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ducimus reprehenderit laboriosam nostrum culpa. </p>
  </div>
  <div class="portrait">
    <h2> Daniel </h2>
    <div></div>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ducimus reprehenderit laboriosam nostrum culpa. </p>
  </div>
  <div class="portrait">
    <h2> Hannah </h2>
    <div></div>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ducimus reprehenderit laboriosam nostrum culpa. </p>
  </div>
  <div class="portrait">
    <h2> Sindre </h2>
    <div></div>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ducimus reprehenderit laboriosam nostrum culpa. </p>
  </div>
  <div class="portrait">
    <h2> Jenny </h2>
    <div></div>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ducimus reprehenderit laboriosam nostrum culpa. </p>
  </div>
</div>
{% endblock %}